    <script type="text/javascript" charset="utf-8">

function assignList()
{
  $('#case_first_list :selected').each(function(i,selected)
  {
    if($("#case_second_list  option[value='"+selected.value+"']").val()==undefined){
      $('#case_second_list').append('<option selected="selected" value="'+selected.value+'">'+selected.text+'</option>');
      $("#case_first_list  option[value='"+selected.value+"']").remove();
    }
  });

}

function unassignList()
{
  $('#case_second_list :selected').each(function(i,selected)
  {
    if($("#case_first_list  option[value='"+selected.value+"']").val()==undefined){
      $('#case_first_list').append('<option value="'+selected.value+'">'+selected.text+'</option>');
      $("#case_second_list  option[value='"+selected.value+"']").remove();
    }else{
      $("#case_second_list  option[value='"+selected.value+"']").remove();
    }
  });

}


function assignListCon()
{
  $('#contact_first_list :selected').each(function(i,selected)
  {
    if($("#contact_second_list  option[value='"+selected.value+"']").val()==undefined){
      $('#contact_second_list').append('<option selected="selected" value="'+selected.value+'">'+selected.text+'</option>');
      $("#contact_first_list  option[value='"+selected.value+"']").remove();
    }
  });

}

function unassignListCon()
{
  $('#contact_second_list :selected').each(function(i,selected)
  {
    if($("#contact_first_list  option[value='"+selected.value+"']").val()==undefined){
      $('#contact_first_list').append('<option value="'+selected.value+'">'+selected.text+'</option>');
      $("#contact_second_list  option[value='"+selected.value+"']").remove();
    }else{
      $("#contact_second_list  option[value='"+selected.value+"']").remove();
    }
  });

}


function assignListTag()
{
  $('#tag_first_list :selected').each(function(i,selected)
  {
    if($("#tag_second_list  option[value='"+selected.value+"']").val()==undefined){
      $('#tag_second_list').append('<option selected="selected" value="'+selected.value+'">'+selected.text+'</option>');
      $("#tag_first_list  option[value='"+selected.value+"']").remove();
    }
  });

}

function unassignListTag()
{
  $('#tag_second_list :selected').each(function(i,selected)
  {
    if($("#tag_first_list  option[value='"+selected.value+"']").val()==undefined){
      $('#tag_first_list').append('<option value="'+selected.value+'">'+selected.text+'</option>');
      $("#tag_second_list  option[value='"+selected.value+"']").remove();
    }else{
      $("#tag_second_list  option[value='"+selected.value+"']").remove();
    }
  });

}



$(document).ready(function(){

$('#case_first_list').dblclick(function(){
    assignList();
  });
  $('#case_second_list').dblclick(function(){
    unassignList();
  });

  $('#contact_first_list').dblclick(function(){
    assignListCon();
  });
  $('#contact_second_list').dblclick(function(){
    unassignListCon();
  });

    $('#tag_first_list').dblclick(function(){
    assignListTag();
  });
  $('#tag_second_list').dblclick(function(){
    unassignListTag();
  });
});



    </script>


<%= render template: "/layouts/sidebar" %>
<div class="main">
<p class="page-header">Edit</p>


<%= form_for @entry, :html => { :class => "form-horizontal entry" } do |f| %>

  <% if @entry.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @entry.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>





  <div class="form-group">
    <%= f.label :entry_text, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :entry_text, :class => 'form-control',:size => "30x10" %>
    </div>
  </div>

  <div class="form-group">

 <%= f.label :cases, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">

   <select id="case_first_list" multiple="multiple" style="width:100px;">
    <% for c in @cases %>
      <option value=<%= c.id %>><%= c.name %>
      </option> 
    <% end %>
  </select>
  <select id="case_second_list" multiple="multiple" name="case" style="width:100px;">
    <%if !@case.nil? %>
      <option value=<%= @case.attributes["id"] %>>
        <%= @case.attributes["name"] %>
      </option>
    <% end %>
  </select>

</div>
  </div>

  <div class="form-group">


 <%= f.label :contacts, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">

   <select id="contact_first_list" multiple="multiple" style="width:100px;">
    <% for c in @contacts %>
      <option value=<%= c.id %>><%= c.name %>
      </option> 
    <% end %>
  </select>
   <select id="contact_second_list" multiple="multiple" name="contact" style="width:100px;">
    <% if !@contact.nil? %>
      <option value=<%= @contact.attributes["id"] %>><%= @contact.attributes["first_name"] + " " + @contact.attributes["last_name"] %></option>
    <% end %>
  </select>
</div>
  </div>

    <div class="form-group">

 <%= f.label :tags, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">

   <select id="tag_first_list" multiple="multiple" style="width:100px;">
    <% for t in @tags %>
      <option value=<%= t.id %>><%= t.name %>
      </option> 
    <% end %>
  </select>

     <select id="tag_second_list" multiple="multiple" name="tags" style="width:100px;">
        <% for t in @entry.tag_list %>
            <option selected="selected" value=<%= t %>><%=  Highrise::Tag.find(:all).find(:id=>t.to_i).first.name
 %>
        <% end %>
    </select>


</div>
  </div>
 <div class="form-group">

 <%= f.label :visibility, :class => 'control-label col-lg-2' %>
  <div class="col-lg-10">
    <select id="visibility" name="visibility">
      
      <% if @entry.visibility==true %>
        <option value="true">Everyone in my group</option>
        <option value="false">Me</option>
      <% else %>
        <option value="false">Me</option>
        <option value="true">Everyone in my group</option>
      <% end %>

    </select>
  </div>
</div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                entries_path, :class => 'btn btn-default' %>
    </div>
  </div>


<% end %>

</div>



