
<!-- 
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_entry_path,
            :class => 'btn btn-primary' %>
-->
<div class="row">

<form class="navbar-form navbar-left" role="search" action="/search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search" name="search">
  </div>
  <button type="submit" class="btn btn-default">Search</button>
</form>

<p style="color:#777777;margin-top:15px;">Use @tag1,tag2,tag3 to search by tags</p>
</div>







<%= render template: "/layouts/sidebar" %>

<div class="main">
<p class="page-header">Getting started</p>


<%= link_to 'New Entry', '/entries/new' %>
<%= link_to 'Export CSV', '/entries.csv' %>
<%= link_to 'RSS', '/entries.rss' %>

<table>

<tbody>
<% for e in @entries %>
  <tr>
    <td>
    <%= link_to e.entry_text, edit_entry_path(e) %>
    <br>
    Last updated on <%= e.updated_at.to_date %>
    </td>

  </tr>
<% end %>

</tbody>
</table>

</div>

<br>



