


<%= render template: "/layouts/sidebar" %>


<div class="main">
<p class="page-header">Users</p>

<% for user in @users %>
  <div class="user">
    <p>
      <strong><%=h user.email %></strong>
        <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>

      <div class="clear"></div>
    </p>
  </div>
<% end %>

<br>

<h5>Your Friends</h5>
<ul>
  <% for friendship in current_user.friendships %>
  <li>
    <%= h friendship.friend.email %>
    (<%= link_to "remove", friendship, :method => :delete %>)
  </li>
  <% end %>  
</ul>

</div>